RESEND_API_KEY=
CONTACT_EMAIL=plazaswiss@gmail.com
RESEND_FROM_EMAIL=Salto Trampolino <noreply@mail.saltotrampolino.ch>
NEXT_PUBLIC_SITE_URL=https://saltotrampolino.ch
NEXT_PUBLIC_WHATSAPP_NUMBER=41796152634
NEXT_PUBLIC_PHONE_DISPLAY=+41 79 61 52 634
