RESEND_API_KEY=re_bzPPtu72_DVviEtEcSW2ecU1e6KVQqTHw
CONTACT_EMAIL=plazaswiss@gmail.com
RESEND_FROM_EMAIL=Salto Trampolino <noreply@mail.saltotrampolino.ch>
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=41796152634
NEXT_PUBLIC_PHONE_DISPLAY=+41 79 61 52 634
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/saltotrampolino
